/*Project fonts*/
@font-face {
  font-family: "OpenSans-Light";
  font-weight: 300;
  font-style: normal;
  src: local("OpenSans-Light"),
    local("OpenSans-Light"),
    url("../../fonts/opensanslight.woff2") format("woff2"),
    url("../../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "OpenSans-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("OpenSans-Regular"),
    local("OpenSans-Regular"),
    url("../../fonts/opensans.woff2") format("woff2"),
    url("../../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "OpenSans-Bold";
  font-weight: 700;
  font-style: normal;
  src: local("OpenSans-Bold"),
    local("OpenSans-Bold"),
    url("../../fonts/opensansbold.woff2") format("woff2"),
    url("../../fonts/opensansbold.woff") format("woff");
}
