//Colors
$white: #ffffff;
$grey: #f2f2f2;
$pink-color: #d22856;
$dark-blue: #1d2631;
$grey-blue: #283645;
//Global colors rules
$font-color: $grey-blue;
$bg-header: $dark-blue;
$bg-main: $white;
$bg-grey: $grey;
//Global font rules
$font: "OpenSans-Regular", "Arial", sans-serif;
$font-size: 14px;
$line-height: 24px;
