.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.advantages__title {
  margin: 0;
  padding: 0;
  padding-top: 46px;
}

.advantages__title,
.advantages__subtitle {
  padding-bottom: 40px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: $grey-blue;
  text-align: center;
}

.advantages__subtitle {
  padding-bottom: 80px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 320px;

  @include list-reset();
  padding-left: 20px;
  padding-right: 20px;
  background-color: $grey;

  &::after {
    content: "";
    position: relative;
    display: block;
    bottom: 0;
    width: 158px;
    height: 277px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-image: url("../../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center top;
  }
}

.advantages__item {
  text-align: center;
}

.advantages__item-title {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.advantages__item-description {
  margin: 0;
  padding: 0;
  color: $grey-blue;
}
