.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  // width: 320px;
  margin: 0 auto;
  margin-bottom: 41px;
  // padding-left: 20px;
  // padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.advantages__title {
  width: 320px;
  margin: 0;
  padding: 0;
  padding-top: 41px;
  padding-bottom: 31px;

  @include open-sans-light();

  font-size: 24px;
  line-height: 28px;
  color: $grey-blue-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 40px;
    line-height: 48px;
    padding-top: 47px;
    padding-bottom: 0;
  }
}

.advantages__title--subtitle {
  padding-top: 0;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    width: 340px;
    padding-bottom: 45px;
  }
}

.advantages__wrapper {
  position: relative;
  width: 100%;
  // width: 320px;
  background-color: $grey-color;

  &::after {
    content: "";
    position: relative;
    display: block;
    bottom: 0;
    width: 158px;
    height: 277px;
    margin-left: auto;
    margin-right: auto;
    // margin-top: 40px;
    background-image: url("../../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center top;

    @media (min-width: $tablet-width) {
      height: auto;
      background-image: url(../../img/iphone-screen-3-tablet@1x.png);
      width: 50%;
      margin: 0;
      background-size: 268px 482px;
      background-position: 26px 6px;
    }

    //Возможно это будут контентные изображения
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f2f2f2 url("../img/bg-triangle-white.svg") no-repeat center top;
    background-size: 100% auto;
    // z-index: 0;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.advantages__list {
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;

  @include list-reset();

  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 86px;
  padding-left: 22px;
  padding-right: 22px;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin: 0;
    padding-top: 76px;
    padding-bottom: 10px;
    /* padding-right: 108px; */
    padding-left: 0px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    width: 960px;
  }
}

.advantages__item {
  padding-bottom: 31px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 315px;
    padding-bottom: 34px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 310px;
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
  }
}

.advantages__item-title {
  margin: 0;
  padding: 0;
  // padding-top: 40px;
  padding-bottom: 12px;

  @include open-sans-bold();

  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.advantages__item-description {
  margin: 0;
  padding: 0;
  color: $grey-blue-color;
}
