.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    width: auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.advantages__title {
  width: 320px;
  margin: 0;
  padding: 0;
  padding-top: 41px;
  padding-bottom: 31px;

  @include open-sans-light();

  font-size: 24px;
  line-height: 28px;
  color: $grey-blue-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 40px;
    line-height: 48px;
    padding-top: 47px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 36px;
    padding-left: 0;
    font-size: 50px;
    line-height: 60px;
  }
}

.advantages__title--subtitle {
  padding-top: 0;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    width: 340px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 440px;
    padding-left: 0;
    margin-bottom: 30px;
  }
}

.advantages__wrapper {
  position: relative;
  width: 100%;
  background-color: $grey-color;

  &::after {
    content: "";
    position: relative;
    display: block;
    bottom: 0;
    width: 158px;
    height: 277px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-size: 154px 317px;
    background-repeat: no-repeat;
    background-position: center top;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
    }

    @media (min-width: $tablet-width) {
      height: auto;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      width: 50%;
      margin: 0;
      background-size: 268px 482px;
      background-position: 20px 6px;

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
      }
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f2f2f2 url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    justify-content: center;
  }
}

.advantages__list {
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;

  @include list-reset();

  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 86px;
  padding-left: 22px;
  padding-right: 22px;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin: 0;
    padding-top: 76px;
    padding-bottom: 10px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    flex-direction: row;
  }
}

.advantages__item {
  padding-bottom: 31px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 315px;
    padding-bottom: 34px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    padding: 0 30px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: "";
      position: relative;
      display: block;
      bottom: 0;
      left: 0;
      width: 231px;
      height: 308px;
      margin-bottom: 48px;
      background-repeat: no-repeat;
      background-position: -26px 0;
      background-size: 292px 302px;
    }
  }
}

.advantages__item--mood {
  &::before {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
      background-image: url("../img/iphone-screen-1-desktop@1x.png");

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }
    }
  }
}

.advantages__item--world {
  &::before {
    display: none;
    left: 9px;

    @media (min-width: $desktop-width) {
      display: block;
      background-image: url("../img/iphone-screen-2-desktop@1x.png");

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }
  }
}

.advantages__item--friends {
  &::before {
    display: none;
    left: 9px;

    @media (min-width: $desktop-width) {
      display: block;
      background-image: url("../img/iphone-screen-3-desktop@1x.png");

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }
}

.advantages__item-title {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;

  @include open-sans-bold();

  font-size: 18px;
  line-height: 24px;
  color: #000000;

  @media (min-width: $desktop-width) {
    width: 240px;
    padding-bottom: 23px;
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages__item-description {
  margin: 0;
  padding: 0;
  color: $grey-blue-color;

  @media (min-width: $desktop-width) {
    width: 240px;
    font-size: 18px;
    line-height: 30px;
  }
}
