.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.advantages__title {
  margin: 0;
  padding: 0;
  padding-top: 46px;
  padding-bottom: 40px;

  @include open-sans-light();

  font-size: 24px;
  line-height: 28px;
  color: $grey-blue-color;
  text-align: center;
}

.advantages__title--subtitle {
  padding-top: 0;
  padding-bottom: 80px;
}

.advantages__wrapper {
  width: 320px;
  background-color: $grey-color;
  padding-bottom: 46px;

  &::after {
    content: "";
    position: relative;
    display: block;
    bottom: 0;
    width: 158px;
    height: 277px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-image: url("../../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center top;

    //Возможно это будут контентные изображения
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 660px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.advantages__list {
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;

  @include list-reset();

  @media (min-width: $desktop-width) {
    flex-direction: row;
    width: 960px;
    margin: 0 auto;
  }
}

.advantages__item {
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 310px;
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
  }
}

.advantages__item-title {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 20px;

  @include open-sans-bold();

  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.advantages__item-description {
  margin: 0;
  padding: 0;
  color: $grey-blue-color;
}
