.contacts {
  position: relative;
  margin: 0 auto;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 27px;
  }
}

.contacts__headline {
  margin: 0;
  padding: 0;
  padding-bottom: 36px;
  width: 230px;

  @include open-sans-light();

  font-size: 24px;
  line-height: 28px;
  color: $grey-blue-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 610px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 45px;
    font-size: 40px;
    line-height: 46px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 55px;
    font-size: 50px;
    line-height: 60px;
    width: 640px;
    margin: 0 auto;
  }
}

.contacts__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 7px;

  @media (min-width: $tablet-width) {
    width: 660px;
    padding-bottom: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
    padding: 0;
    padding-left: 34px;
    padding-right: 34px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.contacts__item {
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-bottom: 47px;
  }
}

.contacts__item--phone {
  @media (min-width: $tablet-width) {
    padding-left: 53px;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    margin: 0;
    padding: 0;
  }
}

.contacts__item--mail {
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-right: 53px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    order: 3;
    padding: 0;
  }
}

.contacts__item--address {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.contacts__title {
  margin: 0;
  padding: 0;

  @include open-sans-bold();

  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 24px;
  }
}

.contacts__title--mail {
  padding-left: 4px;
  padding-bottom: 4px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 27px;
  }
}

.contacts__title--address {
  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 24px;
  }
}

.contacts__text {
  display: block;
  width: 235px;
  cursor: pointer;

  @include open-sans-light();

  font-size: 24px;
  line-height: 28px;
  color: $pink-color;
  text-align: center;
  text-decoration: none;

  &:hover {
    color: $dark-blue-color;
    text-decoration: underline;
  }

  &:active {
    opacity: 0.3;
    text-decoration: none;
  }
}

.contacts__text--mail {
  padding-right: 15px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
  }
}

.contacts__address {
  padding-bottom: 40px;
}
