.contest-form {
  margin: 0 auto;
  margin-top: -9px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 620px;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 35px;
    align-items: center;
    justify-content: space-between;
  }
}

.contest-form__wrapper-form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 640px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
  }
}

.contest-form__headline {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 52px;
  padding: 0;
  padding-top: 34px;
  padding-bottom: 43px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $pink-color;
  text-align: center;
}

.contest-form__headline--main {
  width: 275px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 35px;
  padding-top: 54px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  color: $dark-blue-color;

  @media (min-width: $tablet-width) {
    width: 100%;
    order: 1;
    font-size: 18px;
    padding: 0 50px;
    padding-top: 101px;
    padding-bottom: 71px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 100px;
    padding-left: 45px;
    padding-right: 44px;
    padding-bottom: 72px;
  }
}

.contest-form__headline--main-hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: none;
    color: $dark-blue-color;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.contest-form__field {
  margin: 0 auto;
  padding: 0;
  border: none;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.contest-form__field--contacts {
  margin-bottom: -31px;

  @media (min-width: $tablet-width) {
    width: 620px;
    order: 2;
    margin: 0;
    margin-bottom: -4px;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
    padding-top: 15px;
  }
}

.contest-form__field--achievements,
.contest-form__field--app {
  background-color: $grey-color;

  @media (min-width: $tablet-width) {
    order: 4;
  }
}

.contest-form__field--achievements {
  width: 100%;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0;
    margin-bottom: 57px;
    padding: 0;
    background-color: inherit;
    border: 2px solid #e5e5e5;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    margin: 0;
    margin-top: 0;
  }
}

.contest-form__field--address {
  padding-bottom: 21px;
  margin-bottom: -72px;

  @media (min-width: $tablet-width) {
    width: 620px;
    padding: 0;
    margin: 0;
    margin-bottom: 34px;
    position: relative;
    top: 20px;
    order: 3;
    border: 2px solid #e5e5e5;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin-top: -14px;
  }
}

.contest-form__headline--address {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 250px;
    padding: 29px 0 43px;
    padding-bottom: 44px;
    position: relative;
    top: 4px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 33px;
    margin-bottom: 34px;
    width: auto;
    top: 0;
  }
}

.contest-form__field--app {
  width: 100%;
  margin-top: 43px;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0;
    margin-top: 9px;
    margin-bottom: 0;
    padding: 0;
    padding-bottom: 54px;
    align-self: flex-start;
    order: 2;
    background-color: inherit;
    border: 2px solid #e5e5e5;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin: 0;
    padding-bottom: 14px;
  }
}

.contest-form__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 100%;
    margin-bottom: 38px;
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    margin-bottom: 54px;
  }
}

.contest-form__wrapper--achievements {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-left: 107px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 820px;
    margin: 0 auto;
    padding-left: 50px;
    padding-bottom: 11px;
    flex-direction: row;
  }
}

.contest-form__achievements {
  position: relative;
  margin-bottom: 52px;
  margin-left: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-bottom: 48px;
    margin-top: 4px;
  }
}

.contest-form__wrapper--address {
  @media (min-width: $tablet-width) {
    width: 500px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 30px;

    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 64px;
      height: 64px;
      border: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      background-repeat: no-repeat;

      @media (min-width: $desktop-width) {
        height: 62px;
        right: 502px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 310px;
    margin: 0;
    padding: 0;
    margin-right: auto;

    &::before {
      top: 0;
      left: 310px;
    }
  }
}

.contest-form__inner {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  margin-bottom: 16px;
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    width: 440px;
    margin: 0;
    margin-left: 59px;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 820px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.contest-form__wrapper--phone {
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    padding-bottom: 30px;

    &::before {
      background-color: #e5e5e5;
      background-image: url("../img/icon-phone.svg");
      background-size: 22px auto;
      background-position: center;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.contest-form__wrapper--mail {
  @media (min-width: $tablet-width) {
    &::before {
      top: 0;
      background-color: #e5e5e5;
      background-image: url("../img/icon-mail.svg");
      background-size: 18px auto;
      background-position: 50% 24px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 64px;

    &::before {
      top: 0;
      right: 56px;
    }
  }
}

.contest-form__inner-app {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.contest-form__wrapper--app {
  position: relative;
  margin: 0;
  margin-bottom: 36px;
  margin-left: 11px;

  @media (min-width: $tablet-width) {
    margin-top: 42px;
    margin-bottom: -9px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 44px;
    padding: 0;
  }
}

.contest-form__label {
  width: 100%;
  padding: 0 23px;
  text-transform: uppercase;
  color: $pink-color;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0 23px 14px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    padding-right: 23px;
  }
}

.contest-form__label--achievements,
.contest-form__label--app {
  position: relative;
  padding-left: 108px;
  padding-right: 0;
  font-size: 18px;
  line-height: 30px;
  text-transform: none;
  color: $dark-blue-color;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 39px;
    height: 39px;
    background-color: $white-color;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    z-index: 1;
  }

  &:hover::before {
    border-color: $dark-blue-color;
  }

  &:active::before,
  &:checked::before,
  &:focus::before {
    border-color: $pink-color;
  }
}

.contest-form__label--app {
  padding-left: 79px;

  &::before {
    top: -4px;
    left: 8px;

    @media (min-width: $tablet-width) {
      top: -6px;
      left: 59px;
    }

    @media (min-width: $desktop-width) {
      left: 76px;
    }
  }

  &::after {
    top: 9px;
    left: 70px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 117px;
    padding-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    padding-left: 135px;
  }
}

.contest-form__label--achievements {
  padding-left: 80px;

  &::before {
    top: -6px;
    left: 10px;
    border-radius: 2px;

    &:focus {
      outline: 2px solid $pink-color;
    }

    @media (min-width: $tablet-width) {
      top: -6px;
      left: -59px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.contest-form__label--address {
  padding-left: 23px;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 12px;
    padding-left: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 14px;
    padding-left: 20px;
  }
}

.contest-form__input {
  width: 100%;
  margin-bottom: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 10px;

  @include open-sans-regular();

  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  border: 2px solid #e5e5e5;
  border-radius: 3px;

  &:hover {
    border-color: $dark-blue-color;
  }

  &:focus {
    outline: 0;
    border-color: $pink-color;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 15px;
  }
}

.contest-form__input::placeholder,
.contest-form__text::placeholder {
  color: $dark-blue-color;
}

.contest-form__input--achievements,
.contest-form__input--app {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
}

.contest-form__input--app {
  top: -4px;
  left: 9px;

  @media (min-width: $tablet-width) {
    top: -6px;
    left: 59px;
  }

  @media (min-width: $desktop-width) {
    left: 76px;
  }
}

.contest-form__input--achievements {
  top: -3px;
  left: 10px;

  @media (min-width: $tablet-width) {
    top: -3px;
    left: -59px;
    margin-bottom: 0;
  }
}

.contest-form__input--address {
  @media (min-width: $tablet-width) {
    position: relative;
    width: 438px;
    margin: 0;
    padding: 15px 60px 15px 18px;
    border: 2px solid #e5e5e5;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-height: 62px;
    min-width: 312px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 18px;
    padding-right: 15px;
  }
}

.contest-form__input:checked + .contest-form__label::after {
  display: block;
  content: "";
  position: absolute;
  top: 8px;
  left: 20px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $pink-color;
  z-index: 2;

  @media (min-width: $tablet-width) {
    top: 6px;
    left: 70px;
  }

  @media (min-width: $desktop-width) {
    top: 6px;
    left: 88px;
  }
}

.contest-form__input--achievements:checked + .contest-form__label--achievements::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 19px;
  width: 26px;
  height: 23px;
  background: url("../img/icon-check.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 22px 23px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    top: 0;
    left: -50px;
  }
}

.contest-form__headline--app {
  position: relative;
  top: 56px;
  padding: 0;
  margin-bottom: 94px;

  @media (min-width: $tablet-width) {
    position: relative;
    top: 0;
    width: auto;
    padding: 0 24px;
    margin-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }
}

.contest-form__headline--achievements {
  position: relative;
  top: 60px;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    width: 440px;
    top: 8px;
    margin: 0 auto;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-bottom: 0;
    padding-bottom: 53px;
  }
}

.contest-form__headline--textarea {
  padding-top: 37px;
  padding-bottom: 10px;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 260px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
}

.contest-form__field--textarea {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0;
    padding: 0;
    margin-bottom: 66px;
    order: 6;
    text-align: center;
    background-color: inherit;
    border: 2px solid #e5e5e5;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0;
    margin-top: 60px;
  }
}

.contest-form__text {
  max-width: 280px;
  min-width: 280px;
  min-height: 200px;
  padding: 14px 20px;
  border-width: 2px;


  @include open-sans-regular();

  font-size: 18px;
  line-height: 30px;

  &:hover {
    border-color: $dark-blue-color;
  }

  &:focus {
    outline: 0;
    border-color: $pink-color;
  }

  @media (min-width: $tablet-width) {
    max-width: 500px;
    min-width: 500px;
    min-height: 192px;
    padding: 19px;
    padding-top: 14px;
    margin: 24px;
    margin-bottom: 46px;
    margin-top: 37px;
  }

  @media (min-width: $desktop-width) {
    max-width: 820px;
    min-width: 820px;
    min-height: 130px;
    margin: 0;
    margin-bottom: 33px;
    padding-top: 14px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 14px;
    border: 2px solid #e5e5e5;
  }
}

.contest-form__footer {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 620px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    order: 7;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin-top: 66px;
    margin-bottom: -14px;
  }
}

.contest-form__button {
  margin-bottom: 34px;
  padding: 17px 47px;

  @include open-sans-bold();

  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: $white-color;
  background-color: #2aab6d;
  border-radius: 3px;
  border: none;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    width: 300px;
    padding: 16px 42px;
  }
}

.contest-form__notes {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 18px;
  }
}

.contest-form__asterisk {
  color: $pink-color;
}

.contest-form__hidden-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
    vertical-align: baseline;
  }
}
