.contest-form {
  margin: 0 auto;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.contest-form__headline {
  width: 240px;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 43px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $pink-color;
  text-align: center;
}

.contest-form__headline--main {
  width: 275px;
  margin: 0 auto;
  padding: 0;
  padding-top: 44px;
  padding-bottom: 31px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  color: $dark-blue-color;

  @media (min-width: $tablet-width) {
    width: 100%;
    order: 1;
  }
}

.contest-form__field {
  width: 320px;
  margin: 0 auto;
  border: none;

  @media (min-width: $tablet-width) {
    width: 660px;
  }
}

.contest-form__field--contacts {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
  }
}

.contest-form__field--achievements {
  padding-bottom: 0;
  margin-bottom: 26px;

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.contest-form__field--achievements,
.contest-form__field--app {
  background-color: $grey-color;

  @media (min-width: $tablet-width) {
    order: 4;
  }
}

.contest-form__field--address {
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.contest-form__field--app {
  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
  }
}

.contest-form__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
  }
}

.contest-form__wrapper--achievements,
.contest-form__wrapper--app {
  position: relative;
  margin-bottom: 40px;

  &::after {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 38px;
    height: 38px;
    border: 1px solid #cccccc;
    background-color: $white-color;
  }
}

.contest-form__wrapper--app {
  margin-bottom: 30px;
}

.contest-form__wrapper--app::after {
  border-radius: 50%;
}

.contest-form__label {
  width: 100%;
  padding: 0 31px;
  text-transform: uppercase;
  color: $pink-color;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.contest-form__label--achievements,
.contest-form__label--app {
  padding-left: 70px;
  padding-right: 0;
  font-size: 18px;
  line-height: 30px;
  text-transform: none;
  color: $dark-blue-color;
}

.contest-form__input {
  width: 100%;
  margin-bottom: 18px;
  padding-top: 11px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.contest-form__input--achievements,
.contest-form__input--app {
  display: none;
}

.contest-form__headline--textarea {
  padding-bottom: 14px;
}

.contest-form__field--textarea {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    order: 6;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    text-align: center;
  }
}

.contest-form__text {
  width: 280px;
  min-height: 200px;
  padding: 14px 20px;

  @include open-sans-regular();

  font-size: 18px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    width: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 820px;
  }
}

.contest-form__footer {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 660px;
    display: flex;
    justify-content: space-between;
    order: 7;
  }
}

.contest-form__button {
  margin-bottom: 34px;
  padding: 17px 47px;

  @include open-sans-bold();

  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: $white-color;
  background-color: #2aab6d;
  border-radius: 3px;
  border: none;
}

.contest-form__notes {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.contest-form__asterisk {
  color: $pink-color;
}
