.contacts {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.contacts__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
    flex-wrap: nowrap;
  }
}

.contacts__headline {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;

  @include open-sans-light();

  font-size: 24px;
  line-height: 28px;
  color: $grey-blue-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 610px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 640px;
    margin: 0 auto;
  }
}

.contacts__title {
  margin: 0;
  padding: 0;

  @include open-sans-bold();

  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.contacts__text {
  display: block;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;

  @include open-sans-light();

  font-size: 24px;
  line-height: 28px;
  color: $pink-color;
  text-align: center;
  text-decoration: none;
}

.contacts__address {
  padding-bottom: 40px;
}

.contacts__map {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: $white-color;
  background-image: url("../../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 320px auto;

  @media (min-width: $tablet-width) {
    height: 100%;
    min-height: 376px;
    background-image: url("../../img/bg-map-tablet@1x.jpg");
    background-size: 700px auto;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/bg-map-desktop@1x.jpg");
    background-size: cover;
  }
}
