
.contacts__headline {
  padding-bottom: 40px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: $grey-blue;
  text-align: center;
}

.contacts__title {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.contacts__text {
  display: block;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: $pink-color;
  text-align: center;
  text-decoration: none;
}

.contacts__address {
  padding-bottom: 40px;
}

.contacts__map {
  height: 200px;
  overflow: hidden;
}
