.download-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
  background-color: $grey-blue-color;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: $white-color;

  @media (min-width: $tablet-width) {
    min-height: 620px;
    width: auto;
    flex-direction: row-reverse;
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-size: 1200px auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-width: 960px;
    min-height: 853px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    background-size: cover;
  }
}

.download-app__intro {
  width: 320px;
  height: 396px;
  margin-bottom: auto;

  @media (min-width: $tablet-width) {
    // min-height: 620px;
  }

  @media (min-width: $desktop-width) {
    min-height: 853px;
  }
}

.download-app__wrappers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 26px 20px 30px 16px;
  background-color: $dark-blue-color;

  @media (min-width: $tablet-width) {
    min-height: 620px;
    align-items: flex-start;
    background-color: transparent;
  }
}

.download-app__slogan {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 256px;
    margin: 0;
    padding-top: 67px;
    padding-left: 64px;;
    padding-bottom: 30px;

    @include open-sans-light();

    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }
}

.download-app__button {
  width: 280px;
  padding: 15px;

  @include open-sans-bold();

  font-size: 18px;
  line-height: 18px;
  color: $white-color;
  background: transparent;
  border: 3px solid $white-color;
  border-radius: 35px;

  @media (min-width: $tablet-width) {
    width: 302px;
    margin-left: 9px;
  }
}

.download-app__list {
  display: flex;
  justify-content: space-between;
  width: 206px;

  @include list-reset();
  padding-top: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    margin-left: 57px;
  }
}

.download-app__link {
  display: block;
  background-repeat: no-repeat;
  width: 58px;
  height: 58px;
}

.download-app__link--apple {
  background-image: url("../../img/logo-apple.svg");
  background-position: 0 -3px;
}

.download-app__link--android {
  background-image: url("../../img/logo-android.svg");
  background-position: 7px 6px;
}

.download-app__link--microsoft {
  background-image: url("../../img/logo-microsoft.svg");
      background-position: 13px 9px;
}

.download-app__description {
  width: 320px;
  margin: 0;
  padding: 0;
  padding: 19px 22px 0px 22px;

  @include open-sans-light();

  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $white-color;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 32px 0 9px 0;
    // margin-left: 37px;
  }
}
