.download-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
  background-color: $grey-blue-color;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: $white-color;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-size: 1200px auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-width: 960px;
    min-height: 853px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    background-size: cover;
  }
}

.download-app__inner {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 660px;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
  }
}

.download-app__intro {
  position: relative;
  width: 320px;
  height: 396px;
  margin-bottom: auto;

  &::before {
    display: block;
    content: "";
    position: relative;
    width: 320px;
    height: 396px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    background-image: url("../../img/iphone-hand-mobile@1x.png");
    background-size: 259px 288px;
    background-repeat: no-repeat;
    background-position: 0 bottom;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../../img/iphone-hand-mobile@2x.png");
    }

    @media (min-width: $tablet-width) {
      position: absolute;
      width: 650px;
      height: 545px;
      bottom: -223px;
      right: 10px;
      z-index: 1;
      background-image: url("../../img/iphone-hand-tablet@1x.png");
      background-position: -20px bottom;
      background-size: 700px auto;

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../../img/iphone-hand-tablet@2x.png");
      }
    }

    @media (min-width: $desktop-width) {
      width: 863px;
      height: 660px;
      bottom: 0;
      right: 30px;
      background-image: url("../../img/iphone-hand-desktop@1x.png");
      background-size: 1050px auto;

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../../img/iphone-hand-desktop@2x.png");
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: auto;
  }

  @media (min-width: $desktop-width) {
    min-height: 853px;
  }
}

.download-app__wrappers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 26px 20px 30px 0;
  background-color: $dark-blue-color;

  @media (min-width: $tablet-width) {
    min-height: 618px;
    padding-left: 10px;
    align-items: flex-start;
    background-color: transparent;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.download-app__slogan {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 256px;
    margin: 0;
    padding-top: 67px;
    padding-left: 64px;
    padding-bottom: 28px;

    @include open-sans-light();

    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    padding-top: 72px;
    padding-bottom: 50px;
    padding-left: 18px;
    font-size: 50px;
    line-height: 60px;
  }
}

.download-app__button {
  width: 280px;
  padding: 15px;

  @include open-sans-bold();

  font-size: 18px;
  line-height: 18px;
  color: $white-color;
  background: transparent;
  border: 3px solid $white-color;
  border-radius: 35px;

  &:hover {
    color: $pink-color;
    background-color: $white-color;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 302px;
    margin-left: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 10px;
    margin-bottom: 71px;
    font-size: 21px;
    line-height: 18px;
  }
}

.download-app__list {
  display: flex;
  justify-content: space-between;
  width: 206px;

  @include list-reset();
  padding-top: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    margin-left: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 57px;
    margin-bottom: 52px;
    padding: 0;
  }
}

.download-app__link {
  display: block;
  background-repeat: no-repeat;
  width: 58px;
  height: 58px;
}

.download-app__link--apple {
  background-image: url("../../img/logo-apple.svg");
  background-position: 0 -3px;
}

.download-app__link--android {
  background-image: url("../../img/logo-android.svg");
  background-position: 7px 6px;
}

.download-app__link--microsoft {
  background-image: url("../../img/logo-microsoft.svg");
  background-position: 13px 9px;
}

.download-app__description {
  width: 320px;
  margin: 0;
  padding: 19px 22px 0 22px;

  @include open-sans-light();

  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $white-color;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 32px 0 9px 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding: 0;
  }
}
