.download-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 320px;
  margin: 0 auto;
  background-color: $grey-blue;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  color: $white;
}

.download-app__intro {
  width: 320px;
  height: 396px;
  margin-bottom: auto;
}

.download-app__wrappers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 28px 20px 37px 20px;
  background-color: $dark-blue;
}

.download-app__button {
  width: 280px;
  padding: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $white;
  background: transparent;
  border: 3px solid $white;
  border-radius: 35px;
}

.download-app__list {
  display: flex;
  justify-content: space-between;
  width: 320px;

  @include list-reset();
  padding: 20px;
  padding-top: 37px;
}

.download-app__link {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  width: 58px;
  height: 58px;
  padding-right: 37px;
}

.download-app__link--apple {
  background-image: url("../../img/logo-apple.svg");
  margin-left: 37px;
}

.download-app__link--android {
  background-image: url("../../img/logo-android.svg");
}

.download-app__link--microsoft {
  background-image: url("../../img/logo-microsoft.svg");
  margin-right: 37px;
}

.download-app__description {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: $white;
}
