.feedback-slider {
  position: relative;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
    padding-left: 80px;
    padding-top: 185px;
    padding-bottom: 63px;
    padding-right: 83px;
  }

  &::before {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
      width: 80px;
      height: 65px;
      position: absolute;
      content: "";
      top: 74px;
      left: 434px;
      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
    }
  }
}

.feedback-slider__feedbacks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-slider__content {
  display: none;
  width: 100%;
  text-align: center;
}

.feedback-slider__content--current {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.feedback-slider__author-name {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;

  @include open-sans-bold();

  font-size: 18px;
  line-height: 30px;
  color: #000000;

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    font-size: 24px;
  }
}

.feedback-slider__author-info {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.feedback-slider__text {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    padding-bottom: 36px;
    font-size: 18px;
  }
}

.feedback-slider__button {
  display: none;
  position: absolute;
  top: 214px;
  left: 0;
  width: 25px;
  height: 42px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;

  fill: #bec2c7;

  &:hover {
    fill: $dark-blue-color;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.feedback-slider__button--prev {
  left: 0;
}

.feedback-slider__button--next {
  left: 916px;
}

.feedback-slider__dots {
  display: flex;
  justify-content: center;

  @include list-reset();
  padding-bottom: 63px;

  @media (min-width: $tablet-width) {
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.feedback-slider__dot {
  margin-right: 18px;
}

.feedback-slider__dot:last-child {
  margin-right: 0;
}

.feedback-slider__indicator {
  width: 6px;
  height: 6px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 3px solid transparent;
  border-radius: 50%;
  background-color: #bec2c7;

  &:hover {
    background-color: #7e868f;
  }
}

.feedback-slider__indicator--current {
  width: 12px;
  height: 12px;
  background: transparent;
  border: 3px solid #000000;
}
