.image-effects__controls {
  display: none;
  width: 240px;
  position: absolute;
  left: -22px;
  right: 0;
  bottom: -37px;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    display: block;
    left: 60px;
    top: 26px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    left: 95px;
    top: 23px;
  }
}

.image-effects__controls--current {
  display: block;
}

.image-effects__field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    width: 275px;
    border-bottom: 1px solid #dddfe0;
    margin-top: 0;
    padding: 25px 0;
    padding-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 385px;
    padding: 24px 0;
  }
}

.image-effects__radio {
  display: none;
}

.image-effects__icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: #b5b9be;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
    fill: $pink-color;
  }

  @media (min-width: $desktop-width) {
    width: 45px;
    height: 45px;
  }
}

.image-effects__icon--crop {
  top: 9px;
  left: -6px;
  fill: $pink-color;

  @media (min-width: $tablet-width) {
    top: 5px;
    left: 4px;
  }

  @media (min-width: $desktop-width) {
    top: -7px;
  }
}

.image-effects__icon--fill {
  top: 11px;
  left: -26px;

  @media (min-width: $tablet-width) {
    top: 8px;
    left: 4px;
  }

  @media (min-width: $desktop-width) {
    top: -7px;
    left: 6px;
  }
}

.image-effects__icon--contrast {
  top: 17px;
  left: -38px;

  @media (min-width: $tablet-width) {
    top: 7px;
    left: 9px;
    width: 18px;
    height: 18px;
  }

  @media (min-width: $desktop-width) {
    top: -3px;
    left: 10px;
    width: 35px;
    height: 35px;
  }
}

// Стили для ползунка
.image-effects__range {
  appearance: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 200px;
    background: inherit;
  }

  @media (min-width: $desktop-width) {
    width: 290px;
  }
}

.image-effects__range:first-child {
  padding-top: 0;
}

.image-effects__range::-webkit-slider-thumb {
  appearance: none;
  margin-top: -6px;
  height: 15px;
  width: 15px;
  background: $white-color;
  cursor: pointer;
  border: 2px solid $pink-color;
  border-radius: 50%;

  &:active {
    background-color: $pink-color;
  }
}

.image-effects__range::-ms-track {
  width: 240px;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

/* Тоже самое для Firefox */
.image-effects__range::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background: $white-color;
  cursor: pointer;
  border: 2px solid $pink-color;
  border-radius: 50%;
}

/* То же самое для IE */
.image-effects__range::-ms-thumb {
  height: 12px;
  width: 12px;
  background: $white-color;
  cursor: pointer;
  border: 2px solid $pink-color;
  border-radius: 50%;
}

//Стили для полосы диапазона
.image-effects__range::-webkit-slider-runnable-track {
  width: 240px;
  height: 2px;
  cursor: pointer;
  background: $dark-blue-color;
}

.image-effects__range::-moz-range-track {
  width: 240px;
  height: 2px;
  cursor: pointer;
  background: $dark-blue-color;
}

.image-effects__range::-ms-fill-lower {
  background: $dark-blue-color;
}

.image-effects__range:focus::-ms-fill-lower {
  background: $dark-blue-color;
}

.image-effects__range::-ms-fill-upper {
  background: $dark-blue-color;
}

.image-effects__range:focus::-ms-fill-upper {
  background: $dark-blue-color;
}

.image-effects__buttons {
  width: 320px;
  padding: 0 17px;
  padding-top: 36px;
  border-top: 1px solid #cccccc;

  @media (min-width: $tablet-width) {
    width: 300px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
    padding-left: 39px;
    display: flex;
    justify-content: space-between;
  }
}

.image-effects__button {
  width: 280px;
  padding: 17px 90px;
  margin-bottom: 12px;

  @include open-sans-bold();

  font-size: 18px;
  line-height: 16px;
  border: 3px solid $pink-color;
  color: $pink-color;
  border-radius: 30px;
  background-color: $white-color;

  &:hover {
    background-color: $pink-color;
    color: $white-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 260px;
    margin-left: 30px;
    margin-bottom: 25px;
    padding: 17px 78px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
    padding: 17px 45px;
  }
}

.image-effects__button--reset {
  border: 3px solid #dddfe0;
  color: #dddfe0;
  background-color: $grey-color;

  &:hover {
    border-color: #b5b9be;
    background-color: transparent;
    color: #b5b9be;
  }

  &:active {
    background-color: #b5b9be;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $desktop-width) {
    margin-left: 45px;
    padding: 0 52px;
  }
}
