.image-effects__controls {
  display: none;
  width: 240px;
  position: absolute;
  left: -16px;
  right: 0;
  bottom: -25px;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    display: block;
    left: 56px;
    top: 20px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    left: 95px;
    top: 23px;
  }
}

.image-effects__controls--current {
  display: block;
}

.image-effects__field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    width: 275px;
    border-bottom: 1px solid #dddfe0;
    margin-top: 0;
    padding: 25px 0;
  }

  @media (min-width: $desktop-width) {
    width: 385px;
    padding: 13px 0;
  }
}

.image-effects__radio {
  display: none;
}

.image-effects__title {
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    background-size: 25px auto;
    background-position: -4px -2px;
  }

  @media (min-width: $desktop-width) {
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
  }
}

.image-effects__title--crop {
  background-image: url("../../img/icon-editor-crop.svg");
  background-position: -6px -3px;

  @media (min-width: $tablet-width) {
    background-position: 3px -3px;
  }

  @media (min-width: $desktop-width) {
    background-position: 3px 4px;
  }
}

.image-effects__title--fill {
  background-image: url("../../img/icon-editor-fill.svg");

  @media (min-width: $tablet-width) {
    background-position: 3px 2px;
  }
}

.image-effects__title--contrast {
  background-position: 10px 5px;
  background-size: 35px auto;

  @media (min-width: $tablet-width) {
    background-position: 8px 0;
    background-size: 18px auto;
  }
}

// Стили для ползунка
.image-effects__range {
  appearance: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 200px;
    background: inherit;
  }

  @media (min-width: $desktop-width) {
    width: 290px;
  }
}

.image-effects__range:first-child {
  padding-top: 0;
}

.image-effects__range::-webkit-slider-thumb {
  appearance: none;
  margin-top: -6px;
  height: 15px;
  width: 15px;
  background: $white-color;
  cursor: pointer;
  border: 2px solid $pink-color;
  border-radius: 50%;
}

.image-effects__range::-ms-track {
  width: 240px;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

/* Тоже самое для Firefox */
.image-effects__range::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background: $white-color;
  cursor: pointer;
  border: 2px solid $pink-color;
  border-radius: 50%;
}

/* То же самое для IE */
.image-effects__range::-ms-thumb {
  height: 12px;
  width: 12px;
  background: $white-color;
  cursor: pointer;
  border: 2px solid $pink-color;
  border-radius: 50%;
}

//Стили для полосы диапазона
.image-effects__range::-webkit-slider-runnable-track {
  width: 240px;
  height: 2px;
  cursor: pointer;
  background: $dark-blue-color;
}

.image-effects__range::-moz-range-track {
  width: 240px;
  height: 2px;
  cursor: pointer;
  background: $dark-blue-color;
}

.image-effects__range::-ms-fill-lower {
  background: $dark-blue-color;
}

.image-effects__range:focus::-ms-fill-lower {
  background: $dark-blue-color;
}

.image-effects__range::-ms-fill-upper {
  background: $dark-blue-color;
}

.image-effects__range:focus::-ms-fill-upper {
  background: $dark-blue-color;
}

.image-effects__buttons {
  width: 320px;
  padding: 0 17px;
  padding-top: 30px;
  border-top: 1px solid #cccccc;

  @media (min-width: $tablet-width) {
    width: 300px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
    padding-left: 39px;
    display: flex;
    justify-content: space-between;
  }
}

.image-effects__button {
  width: 280px;
  padding: 17px 90px;
  margin-bottom: 12px;

  @include open-sans-bold();

  font-size: 18px;
  line-height: 16px;
  border: 3px solid $pink-color;
  color: $pink-color;
  border-radius: 30px;
  background-color: $white-color;

  @media (min-width: $tablet-width) {
    width: 260px;
    margin-left: 30px;
    margin-bottom: 25px;
    padding: 17px 78px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
    padding: 17px 45px;
  }
}

.image-effects__button--reset {
  border: 3px solid #dddfe0;
  color: #dddfe0;
  background-color: $grey-color;

  @media (min-width: $desktop-width) {
    margin-left: 45px;
    padding: 0 52px;
  }
}
