.main-navigation {
  display: flex;
  justify-content: center;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 620px;
    margin-right: 20px;
  }
}

.main-navigation__toggle {
  width: 22px;
  height: 22px;
  position: absolute;
  top: -22px;
  right: 20px;
  border: none;
  background: transparent;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: -18px;
    right: -4px;
    height: 5px;
    width: 30px;
    cursor: pointer;
    background-color: $white-color;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }

  @media (min-width: $tablet-width) {
    top: -38px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include list-reset();
  border-bottom: 1px solid $dark-blue-color;

  @media (min-width: $desktop-width) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0;
  }
}

.main-navigation__item {
  width: 320px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.main-navigation__item-link {
  display: block;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 15px;

  @include open-sans-bold();

  font-size: 18px;
  line-height: 32px;
  color: $white-color;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 -1px 0 #000000,
    inset 0 1px 0 rgba(255, 255, 255, 0.15);

  &:hover {
    color: $pink-color;
  }

  &:active {
    color: $pink-color;
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
    box-shadow: none;

    &:active {
      color: $white-color;
      opacity: 0.3;
    }
  }
}

.main-navigation__item--current {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $white-color;
  }
}
