.main-header {
  width: 100%;
  color: $white;
  background: $grey-blue;
}

.main-header__wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
