.main-navigation {
  display: flex;
  justify-content: center;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.main-navigation__toggle {
  width: 22px;
  height: 22px;
  position: absolute;
  top: -22px;
  right: 20px;
  border: none;
  background: transparent;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: -18px;
    right: -4px;
    height: 5px;
    width: 30px;
    cursor:pointer;
    background-color: $white-color;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include list-reset();
  border-bottom: 1px solid $dark-blue-color;

  @media (min-width: $desktop-width) {
    width: 825px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0;
  }
}

.main-navigation__item {
  width: 320px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 660px;
  }
}

.main-navigation__item-link {
  display: block;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 15px;

  @include open-sans-bold();

  font-size: 18px;
  line-height: 32px;
  color: $white-color;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 -1px 0 #000000,
    inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
