.main-navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  @media (min-width: $desktop-width) {
    width: 643px;
    margin-right: 10px;
  }
}

.main-navigation__toggle {
  position: absolute;
  top: -49px;
  right: 18px;
  width: 50px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  background-image: url("../img/icon-menu-burger.svg");
  border: 0;
  cursor: pointer;

  &:hover {
    background-image: url("../img/icon-menu-burger-hover.svg");
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    top: -66px;
    right: 19px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-navigation__toggle--active {
  width: 24px;
  background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;

  &:hover {
    background-image: url("../img/icon-menu-cross-hover.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

.main-navigation__list {
  display: none;

  @media (min-width: $desktop-width) {
    @include list-reset();
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0;
    padding-left: 22px;
  }
}

.main-navigation__list--open {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include list-reset();
  border-bottom: 1px solid $dark-blue-color;

  @media (min-width: $desktop-width) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0;
    padding-left: 22px;
  }
}

.main-navigation__item {
  width: 100%;
  text-align: center;

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.main-navigation__item-link {
  display: block;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 15px;

  @include open-sans-bold();

  font-size: 18px;
  line-height: 32px;
  color: $white-color;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 -1px 0 #000000,
    inset 0 1px 0 rgba(255, 255, 255, 0.15);

  &:hover {
    color: $pink-color;
  }

  &:active {
    color: $pink-color;
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 10px;

    &:active {
      color: $white-color;
      opacity: 0.3;
    }
  }
}

.main-navigation__item--current {
  .main-navigation__item-link:hover,
  .main-navigation__item-link:active {
    color: $white-color;
    cursor: pointer;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $white-color;
  }
}
