.main-navigation {
  width: 320px;
  display: flex;
  justify-content: center;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 643px;
    margin-right: 10px;
  }
}

.main-navigation__toggle {
  position: absolute;
  top: 0;
  right: 160px;
  width: 22px;
  height: 22px;
  border: none;
  background: transparent;
  outline: 0;

  @media (min-width: $tablet-width) {
    right: 330px;
  }
}

.main-navigation__cross {
  display: block;
  position: relative;
  top: -49px;
  right: -145px;
  height: 5px;
  width: 30px;
  background-color: $white-color;

  @media (min-width: $tablet-width) {
    top: -67px;
    right: -315px;
  }

  &::after,
  &::before {
    content: "";
    height: 5px;
    width: 30px;
    position: absolute;
    left: 0;
    cursor: pointer;
    background-color: $white-color;
  }

  &::after {
    top: 10px;
  }

  &::before {
    top: -10px;
  }

  &:hover,
  &:hover::after,
  &:hover::before {
    background-color: $pink-color;
  }

  &:active,
  &:active::after,
  &:active::before {
    opacity: 0.3;
  }
}

.main-navigation__toggle--active {
  .main-navigation__cross {
    width: 0;
  }

  .main-navigation__cross::after {
    transform: rotate(45deg);
    width: 28px;
    left: -14px;
    top: 1px;
  }

  .main-navigation__cross::before {
    transform: rotate(-45deg);
    width: 28px;
    left: -14px;
    top: 1px;
  }
}

.main-navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include list-reset();
  border-bottom: 1px solid $dark-blue-color;

  @media (min-width: $desktop-width) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0;
    padding-left: 22px;
  }
}

.main-navigation__item {
  width: 320px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.main-navigation__item-link {
  display: block;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 15px;

  @include open-sans-bold();

  font-size: 18px;
  line-height: 32px;
  color: $white-color;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 -1px 0 #000000,
    inset 0 1px 0 rgba(255, 255, 255, 0.15);

  &:hover {
    color: $pink-color;
  }

  &:active {
    color: $pink-color;
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
    box-shadow: none;
    padding-top: 6px;
    padding-bottom: 10px;

    &:active {
      color: $white-color;
      opacity: 0.3;
    }
  }
}

.main-navigation__item--current {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $white-color;
  }
}
