.main-header {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: $white-color;
  width: 100%;
  z-index: 99;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-height: 72px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.main-header--open {
  position: relative;
  background-color: $grey-blue-color;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-header__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  @media (min-width: $desktop-width) {
    width: 960px;
    flex-direction: row;
  }
}

.main-header__logo {
  display: inline-block;
  vertical-align: top;
  margin-top: 14px;
  margin-bottom: 26px;
  margin-left: 20px;
  margin-right: auto;

  fill: $white-color;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 10px;
  }
}

.main-header__logo-white {
  display: none;

  &:hover {
    fill: $pink-color;
  }

  &:active {
    fill: $white-color;
    opacity: 0.3;
  }
}

.main-header__logo-white--mobile {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__logo-white--tablet {
  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-header__logo-white--desktop {
  @media (min-width: $desktop-width) {
    display: block;
  }
}
