.page-headline {
  min-height: 170px;

  margin: 0 auto;
  padding: 29px 70px;

  @include open-sans-light();

  font-size: 24px;
  line-height: 28px;
  color: $white-color;
  text-align: center;
  background-color: $grey-blue-color;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-width: $tablet-width) {
    min-height: 330px;
    width: 660px;
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-size: 700 auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-height: 394px;
    padding-top: 72px;
    min-width: 960px;
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    background-size: cover;
  }
}
