.page-headline__wrapper {
  background-color: $grey-blue-color;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px auto;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../../img/bg-back-mobile@2x.jpg");
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-size: 100% auto;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../../img/bg-back-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 392px;
    min-width: 960px;
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    // background-size: cover;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../../img/bg-back-desktop@2x.jpg");
      // background-size: cover;
    }
  }
}

.page-headline__headline {
  min-height: 170px;
  width: 300px;
  margin: 0 auto;
  padding: 0;
  padding-top: 30px;

  @include open-sans-light();

  font-size: 24px;
  line-height: 28px;
  color: $white-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    min-height: 330px;
    width: 660px;
    padding: 70px;
    font-size: 50px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 820px;
    min-height: 354px;
    padding: 0;
    padding-top: 172px;
    padding-left: 0;
    font-size: 50px;
    line-height: 60px;
  }
}

.page-headline__headline--photo {
  @media (min-width: $desktop-width) {
    width: 385px;
    padding-left: 0;
    padding-right: 0;
  }
}
