.page-footer {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 100%;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.page-footer__map {
  position: relative;
  width: 100%;
  min-height: 200px;
  height: 200px;
  overflow: hidden;
  background-color: $white-color;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center -445px;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: -1px;
    left: 0;
    height: 33px;
    width: 100%;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: 1;

    @media (min-width: $tablet-width) {
      height: 67px;
    }

    @media (min-width: $desktop-width) {
      height: 120px;
    }
  }


  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
    min-height: 370px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: center -320px;
    background-size: cover;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 520px;
    height: 520px;
    margin-bottom: 55px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-position: center -298px;
    background-size: 100% auto;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }
}

.page-footer__map--hidden {
  display: none;
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 640px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
  }
}

.page-footer__inner--hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.page-footer__logo {
  padding-bottom: 6px;
}

.page-footer__logo-blue {
  display: none;
  padding-bottom: 32px;
  width: 146px;
  height: 73px;

  fill: $dark-blue-color;

  &:hover {
    fill: $pink-color;
  }

  &:active {
    fill: $dark-blue-color;
    opacity: 0.3;
  }
}

.page-footer__logo-blue--mobile {
  display: block;

  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-footer__logo-blue--desktop {
  @media (min-width: $desktop-width) {
    display: block;
    padding: 0;
    margin-left: 10px;
  }
}

.page-footer__socials {
  width: 180px;
  display: flex;
  justify-content: space-between;

  @include list-reset();
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 14px;
    padding-top: 10px;
  }
}

.page-footer__social-item {
  @media (min-width: $tablet-width) {
    margin-left: 14px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.page-footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 3px solid #cccccc;

  &:hover {
    border-color: $dark-blue-color;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.page-footer__copyright-link {
  position: relative;
  top: 6px;

  @media (min-width: $tablet-width) {
    padding-top: 13px;
    top: 0;
  }

  @media (min-width: $desktop-width) {
    top: 5px;
    left: -10px;
    margin-left: 23px;
  }
}

.page-footer__copyright-text {
  padding-right: 15px;
  line-height: 18px;

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 10px;
    font-size: 18px;
  }
}

.page-footer__copyright-logo {
  fill: $pink-color;

  &:hover {
    fill: $dark-blue-color;
  }

  &:active {
    opacity: 0.3;
  }
}
