.page-headline {
  width: 320px;
  height: 170px;

  margin: 0 auto;
  padding: 35px 20px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: $white;
  text-align: center;
  background-color: $grey-blue;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}
