.page-footer {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 100%;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.page-footer__map {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 200px;
  overflow: hidden;
  background-color: $white-color;
  background-image: url("../../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center -445px;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    width: 100%;
    height: 100%;
    background: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
  }

  @media (min-width: $tablet-width) {
    min-height: 386px;
    margin-bottom: 30px;
    background-image: url("../../img/bg-map-tablet@1x.jpg");
    background-position: center -391px;
  }

  @media (min-width: $desktop-width) {
    min-height: 505px;
    margin-bottom: 0;
    background-image: url("../../img/bg-map-desktop@1x.jpg");
    background-position: center -317px;
    background-size: cover;
  }
}

.page-footer__map--hidden {
  display: none;
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 43px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 34px 41px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin-bottom: 67px;
    padding: 37px 0;
  }
}

.page-footer__inner--hidden {
  display: none;
}

.page-footer__logo {
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-top: -17px;
    margin-right: auto;
  }
}

.page-footer__socials {
  width: 180px;
  display: flex;
  justify-content: space-between;

  @include list-reset();
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-right: 18px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 14px;
  }
}

.page-footer__social-link {
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 3px solid #cccccc;

  @media (min-width: $tablet-width) {
    margin-right: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.page-footer__copyright-link {
  @media (min-width: $tablet-width) {
    padding-top: 13px;
  }
}

.page-footer__copyright-text {
  padding-right: 15px;
  line-height: 18px;

  @media (min-width: $desktop-width) {
    padding-right: 13px;
    font-size: 18px;
  }
}
