.price-table {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 67px;
  margin-bottom: 44px;
  background-color: $grey-color;

  &::before {
    content: "";
    position: absolute;
    top: -58px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: center top;

    @media (min-width: $tablet-width) {
      top: -66px;
    }

    @media (min-width: $desktop-width) {
      top: -60px;
      background-size: 100% auto;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 44px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 95px;
  }
}

.price-table__wrapper {
  width: 100%;
  min-width: 265px;
  padding: 0 20px;
  padding-bottom: 36px;
  overflow: hidden;

  background-size: 100% auto;


  @media (min-width: $tablet-width) {
    width: 100%;
    padding-bottom: 68px;
    overflow: visible;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding: 0;
  }
}

.price-table__table {
  width: 300.5%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
    padding: 0;
    left: -310px;
    transform: translateX(50%);
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    transform: translateX(0);
    left: 0;
    top: -3px;
  }
}

.price-table__header {
  @include open-sans-bold();

  font-size: 18px;
  line-height: 30px;
  color: $white-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.price-table__tariff {
  width: 280px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 2px solid #e5e5e5;
  background-color: $dark-blue-color;

  @media (min-width: $tablet-width) {
    width: 25%;
    padding-top: 12px;
    padding-bottom: 10px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding: 18px 0;
    padding-bottom: 20px;
  }
}

.price-table__tariff--hit {
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    content: "Хит";
    z-index: 99;
    top: 11px;
    left: -33px;
    padding: 0 42px;
    text-transform: uppercase;

    @include open-sans-regular();

    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    color: $white-color;
    background-color: $pink-color;
    transform: rotate(-45deg);

    @media (min-width: $tablet-width) {
      top: 5px;
      left: -37px;
    }
  }
}

.price-table__tariff--hidden {
  display: none;
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.price-table__price {
  display: block;
  padding-top: 2px;

  @include open-sans-light();

  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.price-table__category {
  position: relative;
  padding: 15px 17px 15px 23px;

  @include open-sans-regular();

  font-size: 14px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  background-color: $white-color;
  outline: 2px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    padding: 6px 15px 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 17px 16px 23px;
  }
}

.price-table__category-name {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price-table__category-status {
  position: absolute;
  display: block;
  width: 31px;
  height: 30px;
  top: 19px;
  right: 18px;
  text-indent: -1000px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 31px 21px;

  @media (min-width: $tablet-width) {
    top: 9px;
    right: 60px;
  }

  @media (min-width: $desktop-width) {
    top: 19px;
    right: 50%;
    margin-right: -18px;
  }
}

.price-table__category-status--yes {
  background: url("../img/icon-yes.svg");
  background-size: 31px 21px;
  background-repeat: no-repeat;
}

.price-table__category-status--no {
  background: url("../img/icon-no.svg");
  background-size: 27px 26px;
  background-repeat: no-repeat;
}

.price-table__category--hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;

    @include open-sans-regular();

    font-size: 14px;
    line-height: 30px;
    text-transform: none;
    border-width: 1px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.price-table__dots {
  display: flex;
  justify-content: center;
  width: 280px;

  @include list-reset();
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price-table__dot {
  margin-right: 17px;
}

.price-table__dot:last-child {
  margin-right: 0;
}

.price-table__indicator {
  width: 6px;
  height: 6px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 3px solid transparent;
  border-radius: 50%;
  background-color: #bec2c7;
}

.price-table__indicator--current {
  width: 12px;
  height: 12px;
  background: transparent;
  border: 3px solid #000000;
}
