.price-table {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  margin-bottom: 40px;
  background-color: $grey;
}

.price-table__wrapper {
  width: 320px;
  padding: 0 20px;
  padding-bottom: 40px;
  overflow: hidden;
}

.price-table__table {
  width: 840px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

.price-table__header {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  background-color: $dark-blue;
}

.price-table__tariff {
  width: 280px;
  padding-top: 25px;
  padding-bottom: 22px;
  border-left: 1px solid #e5e5e5;
}

.price-table__price {
  display: block;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.price-table__category {
  padding: 23px 17px 23px 23px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  background-color: $white;
  border: 1px solid #e5e5e5;
}

.price-table__dots {
  display: flex;
  justify-content: center;
  width: 280px;

  @include list-reset();
  padding-bottom: 40px;
}

.price-table__dot {
  margin-right: 17px;
}

.price-table__dot:last-child {
  margin-right: 0;
}

.price-table__indicator {
  width: 6px;
  height: 6px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 3px solid transparent;
  border-radius: 50%;
  background-color: #bec2c7;
}

.price-table__indicator--current {
  width: 12px;
  height: 12px;
  background: transparent;
  border: 3px solid #000000;
}
