.research {
  display: none;
  width: 660px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 110px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    background-color: $grey-color;
  }
}

.research__wrapper {
  width: 320px;
  min-height: 280px;
  padding-left: 9px;

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.research__title {
  @include open-sans-bold();

  width: 170px;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  // margin-left: 9px;
  padding: 0;
  padding-top: 55px;
  padding-bottom: 9px;
  color: #000000;
}

.research__description {
  width: 300px;
  margin: 0;
  // margin-left: 9px;
  padding: 0;
  padding-bottom: 11px;

  @media (min-width: $desktop-width) {
    width: 510px;
  }
}

.research__link {
  // margin-left: 9px;
  color: $pink-color;
}
