.research {
  display: none;
  width: 660px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 110px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: $grey-color;
  }
}

.research__wrapper {
  width: 320px;
  min-height: 280px;
  padding-left: 9px;

  @media (min-width: $desktop-width) {
    width: 574px;
    margin-right: 153px;
    padding: 0;
  }
}

.research__title {
  @include open-sans-bold();

  width: 170px;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  padding-top: 55px;
  padding-bottom: 9px;
  color: #000000;

  @media (min-width: $desktop-width) {
    width: auto;
    padding-top: 150px;
    padding-bottom: 25px;
    line-height: 30px;
  }
}

.research__description {
  width: 300px;
  margin: 0;
  padding: 0;
  padding-bottom: 11px;

  @media (min-width: $desktop-width) {
    width: 570px;
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
  }
}

.research__link {
  color: $pink-color;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
  }
}
