.user-photo {
  margin-bottom: 50px;
  width: 320px;
}

.user-photo__headline {
  margin: 0;
  padding: 55px 40px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $grey-blue;
  text-align: center;
}

.user-photo__post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.user-photo__content {
  width: 280px;
  background-color: $grey;
  margin: 0 20px;
  padding: 25px 20px;
}

.user-photo__title,
.user-photo__date,
.user-photo__message {
  margin: 0;
  padding: 0;
}

.user-photo__title {
  font-size: 14px;
  line-height: 24px;
  color: $dark-blue;
}

.user-photo__date {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.user-photo__message {
  padding-bottom: 20px;
}

.user-photo__button {
  margin-right: 20px;
  width: 14px;
  height: 14px;
  border: none;
  background-color: $pink-color;
}

.user-photo__raiting-count {
  font-size: 12px;
  color: $pink-color;
  text-transform: uppercase;
}
