.user-photo {
  margin: 0 auto;
  margin-bottom: 19px;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 44px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-bottom: 6px;
  }
}

.user-photo__headline {
  margin: 0 auto;
  padding: 44px 35px 48px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $grey-blue-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 630px;
    padding-top: 90px;
    padding-bottom: 77px;
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 92px;
    margin-bottom: 10px;
  }
}

.user-photo__posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin: 0 10px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    margin: 0 auto;
    justify-content: flex-start;
  }
}

.user-photo__post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    min-height: 450px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    min-height: 555px;
    margin: 0 auto;
    margin-bottom: 54px;
  }
}


.user-photo__image-link {
  position: relative;
  text-decoration: none;
}

.user-photo__image {
  width: 280px;
  height: 180px;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.user-photo__image--panorama {
  width: 320px;
  height: 137px;

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: inherit;
    min-height: 510px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    min-height: 508px;
  }
}

.user-photo__image-flag {
  position: absolute;
  content: "Панорама дня";
  width: 140px;
  height: 36px;
  top: 0;
  right: 20px;

  @include open-sans-bold();

  font-size: 12px;
  line-height: 36px;
  color: $white-color;
  text-transform: uppercase;
  text-align: center;
  background-color: $pink-color;
  z-index: 2;

  @media (min-width: $tablet-width) {
    top: 57px;
    right: 20px;
  }

  @media (min-width: $desktop-width) {
    top: 54px;
    left: 931px;
  }
}

.user-photo__post--fresh {
  max-width: 1200px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 50px;
  }
}

.user-photo__content {
  width: 280px;
  background-color: $grey-color;
  padding-left: 18px;
  padding-bottom: 20px;
  padding-top: 19px;
  margin-top: -7px;

  @media (min-width: $tablet-width) {
    width: 300px;
    padding-top: 0;
    padding-left: 27px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.user-photo__content--panorama {
  padding-top: 0;
  flex-direction: row-reverse;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding-left: 28px;
    padding-top: 3px;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding-left: 27px;
    padding-right: 30px;
    padding-bottom: 16px;
  }
}

.user-photo__title,
.user-photo__date,
.user-photo__message {
  margin: 0;
  padding: 0;
}

.user-photo__title {
  font-size: 14px;
  line-height: 24px;
  color: $dark-blue-color;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }
}

.user-photo__title--fresh {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    order: 1;
    padding-top: 20px;
    margin-right: auto;
  }
}

.user-photo__date {
  @include open-sans-light();

  font-size: 14px;
  line-height: 24px;
}

.user-photo__message {
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
  }
}

.user-photo__message--fresh {
  order: 3;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    margin-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    margin-bottom: 5px;
  }
}

.user-photo__button {
  margin-right: 18px;
  padding-bottom: 8px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px;

  @media (min-width: $tablet-width) {
    margin-right: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 11px;
    margin-bottom: 7px;
  }
}

.user-photo__button--fresh {
  @media (min-width: $tablet-width) {
    margin-right: 8px;
    margin-left: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 1px;
    margin-left: 16px;
    margin-bottom: 0;
  }
}

.user-photo__rating {
  display: flex;
  align-items: center;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.user-photo__rating--fresh {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
  }

  @media (min-width: $desktop-width) {
    margin-top: 22px;
  }
}

.user-photo__rating-count {
  font-size: 12px;
  color: $pink-color;
  text-transform: uppercase;
}
